h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}

mat-form-field {
    width: 26rem;
    margin: 1rem
}

.extensions {
    font-size: 1.3rem;
    margin-left: 2rem;
}

.dialog-actions {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.revoke {
  background-color: #1c2a3a;
  color: whitesmoke;
}

.center-data {
    display: flex;
    justify-content: center;
}

#main {
    max-width: 60rem;
    margin: auto;
    padding: 0;
}

.lbl-small {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.inline-type {
    margin-top: 2rem;
    display: flex;
}

.checkbox-type {
    margin: 0 0 0 1.5rem;
}

.material-symbols-outlined {
    margin-left: 1rem;
    color: white;
}

.subcategory {
    color: white;
    margin: 0 0 0 0.5rem;
    font-size: large;
}

hr.rounded {
    margin: 0.2rem 60% 0 2.5vw;
    border-top: 0.4vh solid #fff;
    border-radius: 1vh;
}

.filters {
    display: grid;
    margin-left: 3vw;
    margin-right: 3vw;
    grid-template-columns: 25% 25% 25% 25%;
}

.input-field {
    border-radius: 0.5rem;
    background: transparent;
    border: 0.15rem solid whitesmoke;
    font-size: 0.9em;
    height: 4vh;
    width: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    line-height: 24px;
    padding: 7px 8px;
    color: whitesmoke;
}

#line {
    color: whitesmoke;
    font-size: 1.5em;
    margin: 0;
}

.input-margin {
    margin-left: 2vw;
}

::placeholder {
    color: whitesmoke;
}

.input-field:focus {
    outline: none !important;
    border: 0.15rem solid grey;
}

mat-slider {
    margin-top: 5vh;
    width: 80%;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.button-right {
    width: 8vw;
    height: 4vh;
    border: transparent;
    border-radius: 2rem;
    background-color: white;
    color: #2E4057;
    position: relative;
    margin-top: 8vh;
    float: right;
}

.button-right:hover {
    background-color: #e3e3e3;
}

.checkbox-filter {
    margin: 0.8rem 0 0 0;
}

.checkbox-wrapper-42 mat-label {
    display: inline-block;
    color: #333333;
    font-weight: normal;
    font-size: 1.1em;
    margin-left: 2rem;
}
